/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: "Cabin", sans-serif;
}

.rover-header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid;
}

.rover-header-left a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 15px;
}

/* .rover-header-left {
  margin-bottom: 20px;
  align-items: center;
} */

.rover-header-right a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 15px;
}

.rover-header-lef {
  padding-top: 20px;
  margin-right: 50px;
}

.rover-header-right {
  margin-left: 50px;
}

.rover-header-right-mobile {
  display: none;
}

.rover-hero-container {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  padding: 15px;
}

.rover-hero-title h1,
p {
  font-weight: bold;
}

.rover-button-rover-cta {
  color: white;
  background-color: rgb(9, 102, 56);
  width: 200px;
  text-align: center;
  padding: 10px;
}

.rover-button-rover-cta-mobile {
  display: none;
}

.rover-mobile-hero-container {
  display: none;
}

.rover-middle-section h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

/* .rover-facts-container,
.rover-cta-box {
  float: left;
  width: 50%;
}

.rover-fact-indiv {
  display: flex;
}

.rover-fact-indiv p {
  margin: top 20px;
} */

.rover-two-boxes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3%;
}
.rover-fact-indiv {
  display: grid;
  grid-template-columns: 10% 70%;
  gap: 13px;
}
.rover-fact-indiv img {
  width: 90%;
}

.rover-cta-container {
  border: 1px solid;
  padding: 10px;
}

.rover-cta-header {
  border: 1px solid;
  padding: 10px;
}

.rover-cta-header {
  display: flex;
  margin: auto;
}

.rover-cta-bottom-container ul {
  padding: 15px;
}

.rover-cta {
  color: white;
  background-color: rgb(9, 102, 56);
  width: 100%;
  padding: 10px;
  text-align: center;
}

.rover-action-quote-container {
  margin-top: 50px;
  background-image: url("/img/lady-with-her-dogs.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.rover-quote {
  position: absolute;
  background-color: white;
  right: 0;
  left: 0;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
  align-items: center;
}

.rover-123-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  .rover-header-left a {
    display: none;
  }

  .rover-header-right a {
    display: none;
  }

  .rover-header-right-mobile {
    display: flex;
  }

  .rover-hero-container {
    background-image: none;
    border: 1px solid;
    height: fit-content;
  }

  /* .rover-facts-container,
  .rover-cta-box {
    float: unset;
    width: 50%; */
  /* } */

  .rover-two-boxes-container {
    display: grid;
  }

  .rover-mobile-hero-container {
    display: flex;
    width: 100%;
    height: 50%;
  }

  .rover-action-quote-container {
    margin-top: 50px;
    background-image: url("/img/lady-with-her-dogs.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
  }

  .rover-123-item-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid;
    padding: 20px;
  }
}
