/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: "Cabin", sans-serif;
}

.rover-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-color: #cfd7de;
  border-style: solid;
}
.rover-header-image {
  margin-right: 30px;
}
.rover-header-left {
  display: flex;
}
.rover-header-right {
  display: flex;
}
.rover-header-link {
  font-size: 20px;
  text-decoration: none;
  color: #1b1f23;
  margin-right: 30px;
  margin-top: 15px;
}

.rover-header-right-mobile {
  display: none;
}

.rover-hero-container {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  padding: 15px;
}

.rover-hero-title h1,
p {
  font-weight: bold;
}

.rover-button-rover-cta {
  color: white;
  background-color: #14a96d;
  width: 200px;
  text-align: center;
  padding: 10px;
}

.rover-button-rover-cta-mobile {
  display: none;
}

.rover-mobile-hero-container {
  display: none;
}

.rover-middle-section h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.rover-two-boxes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3%;
}
.rover-fact-indiv {
  display: flex;
  height: 60px;
  position: relative;
  left: 25px;
  margin: 10px;
}
.content h3 {
  margin: 0;
}

.rover-cta-container {
  border: 1px solid;
  padding: 10px;
}

.rover-cta-header {
  border: 1px solid;
  padding: 10px;
}

.rover-cta-header {
  display: flex;

  margin: auto;
}

.rover-cta-bottom-container ul {
  padding: 15px;
}

.rover-cta {
  color: white;
  background-color: #14a96d;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.rover-action-quote-container {
  background-image: url("/img/lady-with-her-dogs.jpg");
  height: 500px;
  width: 100;
  background-size: cover;
}

aside .rover-quote {
  background-color: white;
  font-size: 40px;
  font-weight: bold;
  width: 100;
  height: 250px;
  line-height: 1.5;
}

.rover-quote span {
  color: gray;
}

.rover-123-item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border: 1px solid;
  padding: 20px;
  text-decoration: none;
  margin-top: 100px;
}

.rover-123-container-title h2 {
  justify-content: center;
}

.rover-123-item-container h2,
h3 {
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .rover-header-left a {
    display: none;
  }

  .rover-header-right a {
    display: none;
  }

  .rover-header-right-mobile {
    display: flex;
  }

  .rover-hero-container {
    background-image: none;
    border: 1px solid;
    height: fit-content;
  }

  .rover-action-shot {
    height: 300px;
    margin: 0 auto 20px;
  }
  .rover-action-quote-container {
    width: 100%;
    position: relative;
    left: 0;
  }

  /* .rover-facts-container,
  .rover-cta-box {
    float: unset;
    width: 50%; */
  /* } */

  .rover-two-boxes-container {
    display: grid;
  }

  .rover-mobile-hero-container {
    display: flex;
    width: 100%;
    height: 50%;
  }

  .rover-action-quote-container {
    margin-top: 50px;
    background-image: url("/img/lady-with-her-dogs.jpg");
    height: 200px;
    width: 500px;
    background-size: cover;
  }

  aside .rover-quote {
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    width: 200px;
    height: 110px;
    line-height: 1.5;
  }

  .rover-quote {
    background-color: white;
  }

  .rover-quote span {
    color: gray;
  }

  .rover-123-item-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid;
    padding: 20px;
  }
}
